.login-page{
    position: absolute;
    top: 10%;
    right: 0;
    left: 40%;
    background-color: #fff;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
}

.login-form{
    display: flex;
    flex-direction: column;
    padding: 6px 12px;
    font-size: 16px;
}

.login-form-label{
    font-size: 14px;
    font-weight: 900;  
    margin: 0 0 5px 18px;
}

.login-form-input{
    width: 92%;
    margin: 0 18px 22px;
    padding: 15px 20px;
    color: #929292;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
}

.login-page-title {
    font-family: 'Effra Heavy';
    font-size: 44px;
    text-transform: uppercase;
    width: 85%;
    padding: 20px 20px 0;
    text-align: left;
}

.login-page-title h1{
    font-weight: 1000;
}

.login-page-footer{
    font-size: 13px;
    text-align: center;
    margin-bottom: 0px;
    color: black;
    background-color: #f1f1f1;
    padding: 16px;
}

.login-page-footer p{
    margin: 0;
    padding: 0;
}

.login-form-checkbox{
    margin: 0 18.5px 10px;
}

#remember-me{
    margin-right: 10px;
}

.btn-login{
    width: 92%;
    margin: 0 18px 17px;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Arial';
    color: #fff;
}

#forgot-password{
    text-align: center;
    padding: 0;
    margin-bottom: 5em;
    font-size: 13px;
    color: #000000;
}

.login-page-header{
    padding: 32px 32px 0;   
}

.login{
    position: absolute;
    top: 59%;
    right: 15%;
}

.login-form img{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 54%;
    right: 14%;
}

.login-form img:hover{
    cursor: pointer;
}
